@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');



header{

    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 4em;
    text-align: center;
    padding-top: 1em;
}

h1{
    font-size: 2em;
    font-family: 'Open Sans';
    font-weight: 800;
    margin-top: 150px;
    margin-left: 25%;
    margin-right:    25%;
    margin-bottom: 10px;
}
h2{
    font-family: 'Open Sans';
    font-weight: 400;
    margin-bottom: 3em;
    margin-left: 25%;
    margin-right:    25%;
    text-indent: 60px;
}

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 8px;
    margin-top: 37px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: open sans;
    font-weight: 100;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: open sans;
    font-weight: 700;

  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }