/* Dummy styles, don't copy these */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Georgia', serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  small {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  /* Styles you want to copy across begin here */
  
  .testimonials {
    background-color: #e8e8e5;
    overflow: hidden;
    width: 100%;
  }
  
  .testimonials ul {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0;
  }
  
  .testimonials ul li {
    display: inline-block;
    padding: 1rem;
    position: relative;
    text-align: center;
    width: 100vw;
  }
  
  .testimonials ul li p {
    max-width: 600px;
    margin: 1rem auto;
    width: 50%;
  }
  
  .testimonials-control {
    background-color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
  }
  
  .testimonials-control i {
    cursor: pointer;
    padding: 1.3rem;
  }